$color_names: 'red' 'pink' 'orange' 'yellow' 'purple' 'green' 'lightgreen' 'lime' 'teal' 'blue' 'navi' 'steelblue' 'brown' 'maroon' 'white' 'beige' 'grey' 'silver' 'azure' 'bisque' 'black';
$color_values: (
	'red': #f00,
	'pink': #ffc0cb,
	'orange': #ffa500,
	'yellow': #ff0,
	'purple': #800080,
	'green': #080,
	'lightgreen': #90ee90,
	'lime': #0f0,
	'teal': #008080,
	'blue': #00f,
	'navi': #008,
	'steelblue': #4682b4,
	'brown': #a52a2a,
	'maroon': #800000,
	'white': #fff,
	'beige': #f5f5dc,
	'grey': #808080,
	'silver': #c0c0c0,
	'azure': #f0ffff,
	'bisque': #ffe4c4,
	'black': #000,
);

@each $color_name in $color_names {
	.text-#{$color_name} {
		color: map-get($color_values, $color_name);
	}
	.#{$color_name} {
		.column {
			background-color: map-get($color_values, $color_name);
		}
	}
	.grid,
	.row {
		.column.#{$color_name} {
			background-color: map-get($color_values, $color_name);
		}
	}
}