

.row {
	display: grid;
	grid-gap: $grid_gap__default;
	margin-bottom: $grid_margin__bottom;

	@each $number in $numbers {
		@if $number == one {
			&.#{$number}-cell {
				grid-template-columns: #{map-get($column-numbers, $number)}fr;
			} 
			} @else {
				&.#{$number}-cells {
					grid-template-columns: repeat( #{map-get($column-numbers, $number)}, 1fr );
				}
			}
		}
	}

	@media screen and (max-width: $width__sm) {
		.row {
			@each $number in $numbers {
				@if $number == one {
					&.#{$number}-cell {
						grid-template-columns: 1fr;
					}
					} @else {
						&.#{$number}-cells {
							grid-template-columns: 1fr;
						}
					}
				}
			}
		}