// screen width
$width__sm: 900px;

// grid gap
$grid_gap__default: 1em;
$grid_gap__big: 2em;

// grid column border color
$color__cell_border: #c1c1c1;

// grid column padding
$cell_padding__default: 1em;
$cell_padding__big: 2em;

// column colors for alternating grids
$color_bg__cell: #f1f3f0;
$color_bg__cell_alt: #bdc3be;

// grid bottom margin
$grid_margin__bottom: 1em;